<h1>Phonebook#search</h1>
<p>Find me in app/views/phonebook/search.html.erb</p>

<%= text_field_tag(:srh) %>
<%= button_to '검색', {:controller => "phonebook", :action => "result", :data => :srh , {:method=>:get} %>
